<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<form name="name" method='post' action='/userlist'>
	<input type="text" name="user_name" id="user_name">
	<button type="submit">Submit</button>
</form>
</body>
</html>